* {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700;
    font-style: normal;
}

.img-part {
    margin-bottom: 44px;
}

.img-text {
    margin: 10px 0px 0px 15.5rem;
    font-size: 14px;
    line-height: 14.41px;
}

.search-sheet {
    width: 709px;
}

.search-part {
    width: 100%;
    margin-bottom: 18px;
}

.filter-search {
    width: 40%;
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 0.5rem !important;
    text-align: center;
    font-size: 18px;
    padding: 10px 0 10px 0;
    color: #888888;
}

.filter-search::placeholder {
    color: #888888;
}

.filter-search:hover {
    background: #64646414;
    border: 2px solid rgba(0, 0, 0, 0, 6);
}

.button-search {
    border: none;
    background-color: #204080;
    color: #FFFFFF;
    width: 17.5%;
}

.button-search:hover {
    cursor: url(../src/Cursor_by_icon.svg), auto;
    background-color: #4F75C2;
}

.search-result {
    border: 1px solid #484848;
    width: 100%;
    border-radius: 0.25rem;
    padding: 1rem 1rem 0.5rem 1rem;
}

.list-group {
    width: 100%;
    margin-bottom: 36px !important;
}

.list-group-item {
    position: relative;
    border: none !important;
    border-radius: 4px !important;
    height: auto;
    padding: 0.5rem !important;
    color: #484848;
}

.list-group-item:hover {
    background-color: #C4C4C4;
    cursor: url(../src/Cursor_by_icon.svg), auto;
}

.left-of-frame {
    margin-left: 0.2rem;
}

.fullname {
    font-size: 18px;
}

.company {
    font-size: 12px;
}

.date {
    font-size: 12px;
}

.right-of-frame {
    width: auto;
    margin-right: 1rem;
}

.email {
    font-size: 18px;
}

.country {
    font-size: 12px;
}

.city {
    font-size: 12px;
}

.list-group-item hr {
    margin: 0;
    bottom: 0;
    border: 1px solid #585858
}

.error-input {
    border: 2px solid #FF000080;
}

.error-input::placeholder {
    color: #FF000080;
}