* {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700;
    font-style: normal;
}

#list-page{
    padding: 27px 37px;
}

.main-sheet {
    height: 100%;
    width: 67.5%;
}

.img-part {
    margin-bottom: 44px;
}

#landing-img {
    height: 115px;
    width: 278px;
}

#list-page-img {
    height: 63px;
    width: 149px;
}

.img-text {
    margin: 10px 0px 0px 15.5rem;
    font-size: 14px;
    line-height: 14.41px;
}

.order-by{
    
}

#order-by-icon{
    scale:fill;
    width: 26px;
    height: 24px;
}

#order-by-text{
    color: #484848;
    font-size: 18px;

}

.search-sheet {
    width: 709px;
}

.search-part {
    width: 100%;
    margin-bottom: 18px;
}

.filter-search {
    width: 40%;
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 0.5rem !important;
    text-align: center;
    font-size: 18px;
    padding: 10px 0 10px 0;
    color: #888888;
}

#list-page-search-sheet{
    margin: 0.5rem 0 0 2rem;
}

.filter-search:hover {
    background: #64646414;
    border: 2px solid rgba(0, 0, 0, 0, 6);
}


#button-search {
    border: none;
    background-color: #204080;
    color: #FFFFFF;
    width: 17.5%;
}

#button-search:hover {
    background-color: #4F75C2;
}


.search-result {
    border: 1px solid #484848;
    width: 100%;
    border-radius: 0.25rem;
    padding: 1rem 2rem 0.5rem 2rem;
}

#list-page-search-result{

}

.list-group {
    width: 100%;
    margin-bottom: 36px !important;
}

.list-group-item {
    border: none !important;
    border-bottom: 1px solid #585858 !important;
    height: 3.3rem;
    padding: 0 !important;
    background: none !important;
    color: #484848;
}

.show-more {
    line-height: 14.06px;
    font-size: 12px;
    color: black;
}

